<!Doctype html>
<html>
    <head>
         <meta charset="utf-8">
         <title>node_microservice</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="town" type="text" class="ghost-input" placeholder="Enter a City" required><br/>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        
        <!--ejs-->
        <!--% if(weather !== null){ %>-->
            <!--<p>%= weather %></P>-->
        <!--% } %>-->
        
        <!--% if(error !== null){ %>-->
            <!--<p>%= error %></P>-->
        <!--% } %>-->
      
      </fieldset>
    </div>
    </body>
</html>